{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/instructors">
<section class="avatar" style="background: url(https://source.unsplash.com/random/400X400) no-repeat center / cover "></section>

<section class="detail">
  <h3>Novo Instrutor</h3>

  <div class="item">
    <div>Avatar URL</div>
   <div> <input type="url" name="avatar_url"></div>
  </div>

  <div class="item">
    <div>Instrutor</div>
     <div> <input type="text" placeholder="Digite o nome do instrutor" name="name"></div>
  </div>

   <div class="item">
    <div>Data de nascimento</div>
    <div> <input type="date" name="birth"></div>
  </div>

   <div class="item">
    <div>Sexo</div>
     <div> 
     <span><input type="radio" name="sexo" value="M">Masculino </span>
      <span><input type="radio" name="sexo"  value="F">Feminino</span>
     </div>
  </div>

   <div class="item">
    <div>Area de atuação</div>
   <div> <input type="text" name="service"></div>
  </div>

 <button type="Submit">Salvar</button>
</section>
</form>

{% endblock content %}