{% extends "layout.njk" %}

{% block content %}

<div class="card">
<section class="avatar" style="background: url(https://source.unsplash.com/random/400X400) no-repeat center / cover "></section>

<section class="detail">
  <h3>Detalhes</h3>

  <div class="item">
    <div>Instrutor</div>
    <div>Rafael</div>
  </div>

   <div class="item">
    <div>Idade</div>
    <div>21</div>
  </div>

   <div class="item">
    <div>Sexo</div>
    <div>Masculino</div>
  </div>

   <div class="item">
    <div>Acompanhamento</div>
    <div>
       <span>Musculação</span>
       <span>Crossfit</span>
    </div>
  </div>

  <div class="item">
    <div>Desde de:</div>
    <div>16/04/2020</div>
  </div>
</section>
</div>

{% endblock content %}